{% extends "charitydonationapp\base.html" %}
{% block content %}
{% load static %}


<section class="login-page">
  <h2>Zmień Dane</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="username" placeholder="Email" value="{{ user.username }}"/>
    </div>
    <div class="form-group">
      <input type="text" name="first_name" placeholder="Imię" value="{{ user.first_name }}"/>
    </div>
    <div class="form-group">
      <input type="text" name="last_name" placeholder="Nazwisko" value="{{ user.last_name }}"/>
    </div>

    <div class="form-group">
      <input type="password" name="password" placeholder="Podaj Hasło" />
    </div>

    <div class="form-group form-group--buttons">
      <button class="btn" type="submit" name="info_change">Zmień Dane</button> 
    </div>
  </form>
</section>

<section class="login-page">
  <h2>Zmień Hasło</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <input type="password" name="password" placeholder="Stare Hasło" />
    </div>
    <div class="form-group">
      <input type="password" name="new_password" placeholder="Nowe Hasło" />
    </div>
    <div class="form-group">
      <input type="password" name="new_password2" placeholder="Powtórz Hasło" />
    </div>

    <div class="form-group form-group--buttons">
      <button class="btn" type="submit" name="pass_change">Zmień Hasło</button> 
    </div>
  </form>
</section>

{% endblock %}